/* Background */
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    -90deg,
    black,
    rgb(204, 202, 202),
    white,
    rgb(51, 50, 50),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    black,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    black,
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    black,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(37, 37, 37),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(48, 48, 48)
  );
  background-size: 400% 400%;
  position: relative;
  /* animation: change 120s ease-in-out infinite; */
}
h1 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.navbar {
  padding-right: 45%;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  text-shadow: 20px 20px 40px rgba(0, 0, 0, 0.15),
    -5em 0 2.9em rgba(0, 180, 165, 0.349);
}
