/* Background */
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    -90deg,
    black,
    rgb(204, 202, 202),
    white,
    rgb(51, 50, 50),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    black,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    black,
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    black,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(37, 37, 37),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(48, 48, 48)
  );
  background-size: 400% 400%;
  position: relative;
}
h1 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.navbar .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-left: auto;
  text-align: center;
}
h5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-fluid a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  text-shadow: 20px 20px 40px rgba(0, 0, 0, 0.15),
    -5em 0 2.9em rgba(0, 180, 165, 0.349);
}
.button-container button {
  font-size: 17px;
  font-weight: bold;

  width: 100px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15),
    -0.2em 0 1em rgba(0, 180, 165, 0.349);
  border: 2px solid rgba(0, 180, 165, 0.349);
  background-color: rgb(65, 65, 65);
  opacity: 0.8;
  height: 50px;
}
.button-container input {
  padding-left: 20px;
  font-size: 17px;
  border: 2px solid rgba(0, 180, 165, 0.349);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15),
    -0.2em 0 0.4em rgba(0, 180, 165, 0.349);
  width: 400px;
  height: 50px;
}
.input-group {
  padding-left: 100px;
}
