body {
  margin: 0px;
}

.navbar {
  border-bottom: 1px solid black;
  justify-content: center;
  align-items: center;
}
.table-artist tbody tr td th {
  text-align: center;
  align-items: center;
  margin-top: 100px;
}
.table-album tbody tr td th {
  margin-top: 100px;
  padding: 0px;
}
.table-row {
  height: 300px;
}
.album-button {
  text-align: center;
}
.album-row {
  height: 150px;
}
.albumCover-row {
  height: 200px;
  text-align: center;
}
.spaceRow {
  height: 100px;
}
.spaceRowFooter {
  height: 20px;
}
.coverImg {
  width: 150px;
  height: 150px;
  border: solid black;
  border-width: 1.5px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 20px;
  margin: 10px;
  box-shadow: 2.5px 5px rgb(233, 233, 232), -0.2em 0 0.4em olive;
}
.footerHrStyle hr {
  border: none;
  height: 2px;
}
.borderStyleFooter {
  border-bottom: solid black;
  border-width: 2px;
}
.album-table-display {
  display: none;
  padding-bottom: 150px;
}
h3,
h5,
a {
  text-shadow: 2.5px 5px rgb(233, 233, 232), -0.05em 0 0.1em olive;
}

.pagenumbers {
  display: none;
  flex: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-bottom: 150px;
}
.pagenumbers button {
  width: 45px;
  height: 35px;
  border-radius: 7px;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: black;

  margin: 10px;
  transition: 0.4s;

  color: white;
  font-size: 15px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.pagenumbers button:hover {
  background-color: rgb(233, 233, 232);
  color: black;
}
