/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* Background & General Style */
body {
  margin: 0px;
  min-height: 100vh;
  background: linear-gradient(
    -180deg,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(190, 190, 190),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(182, 181, 181),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(196, 196, 196),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(190, 190, 190),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(182, 181, 181),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(204, 202, 202),
    white,
    rgb(196, 196, 196),
    white
  );
  background-size: 400% 400%;
  position: relative;
  animation: change 120s ease-in-out infinite;
}
@keyframes change {
  0% {
    background-position: 0 25%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0 100%;
  }
}
hr {
  border-color: solid black;
  border-width: 2px;
  height: 2px;
}
.container-fluid a {
  padding-left: 15px;
}

.borderStyleFooter {
  border-bottom: solid black;
  border-width: 2px;
}
.spaceRowFooter {
  height: 20px;
}
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* Navbar Style */
.navbar {
  border-bottom: 2px solid black;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0.51px 0.5px rgb(235, 235, 235);
}
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 200px;
}
.navbar-brand {
  margin-top: 30px;
}
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* Artist Image */
.artist-image-row {
  margin-top: 50px;
  margin-bottom: 50px;
}
.artist-image-column {
  display: flex;
}
.card {
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.15),
    -0.2em 0 0.4em rgba(0, 180, 165, 0.349);
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  width: 190px;
  padding: 1.5rem;
}
.artist-image {
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  object-fit: scale-down;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.15),
    -0.3em 0 0.9em rgba(0, 180, 165, 0.349);
}

/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* Cover Image Row */
.album-row {
  height: 50px;
}
.albumCover-col {
  display: flex;
  padding: 0;
}
.albumCover-row {
  margin-top: 80px;
}
.coverImg {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 150px;
  background-color: white;
  opacity: 0.9;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15),
    -0.2em 0 0.4em rgba(0, 180, 165, 0.349);
}
.coverImg img {
  width: 100px;
  height: 100px;
  margin: 0px auto 0px auto;
  border-radius: 20px 20px 20px 20px;
  border-image: 2px solid black;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.15),
    -0.3em 0 0.5em rgba(0, 180, 165, 0.349);
}
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* Artist Table */
.table-col {
  display: flex;
  width: 100%;
  padding: 0;
}
.table-artist {
  width: 100%;
  font-size: 16px;
  margin-top: 50px;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15),
    -0.2em 0 0.4em rgba(0, 180, 165, 0.349);
  background-color: white;
  opacity: 0.8;
}
.table-artist thead tr th {
  margin-top: 100px;
  background-color: rgb(65, 65, 65);
  opacity: 0.9;
  color: white;
  padding-right: 60px;
}
.table-artist tbody tr:last-of-type {
  overflow: hidden;
}
.table-artist tbody tr td:first-child {
  font-weight: bold;
}
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* Hide and Show Button  */
.album-button {
  text-align: center;
  margin-top: 20px;
}
.album-button button {
  width: 200px;
  font-weight: bold;
  border: 2px solid rgba(0, 180, 165, 0.349);
  background-color: rgb(65, 65, 65);
  opacity: 0.8;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15),
    -0.2em 0 0.4em rgba(0, 180, 165, 0.349);
}
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* Album-Release Table Incl. Pagination*/
.album-table {
  visibility: hidden;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15),
    -0.2em 0 0.4em rgba(0, 180, 165, 0.349);
  background-color: white;
  opacity: 0.8;
}

.album-table thead tr th {
  background-color: rgb(65, 65, 65);
  color: white;
}
.album-table tbody tr td {
  font-size: 14px;
  overflow: hidden;
}
.pagenumbers {
  visibility: hidden;
  display: flex;
  flex: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 250px;
}
.pagenumbers button {
  width: 45px;
  height: 35px;
  border-radius: 7px;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  font-weight: bold;
  border: 2px solid rgba(0, 180, 165, 0.349);
  background-color: rgb(65, 65, 65);
  opacity: 0.8;

  margin: 10px;
  transition: 0.4s;

  color: white;
  font-size: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15),
    -0.2em 0 0.4em rgba(0, 180, 165, 0.349);
}
.pagenumbers button:hover {
  background-color: rgb(233, 233, 232);
  color: black;
  font-weight: bold;
}
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* DropDown */
.dropdown-menu {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 565px;
  padding-left: 15px;
  border-radius: 20px 20px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15),
    -0.2em 0 0.4em rgba(0, 180, 165, 0.349);
  background-color: rgb(65, 65, 65);
  color: white;
  opacity: 0.8;
}
.dropdown-menu:hover {
  cursor: pointer;
}
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* Search-Bar */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  visibility: hidden;
}
.search-bar input {
  padding-left: 20px;
  background-color: white;
  color: black;
  opacity: 0.8;
  border-radius: 20px 20px 20px 20px;
  border: black solid;
  border-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15),
    -0.4em 0 0.9em rgba(0, 180, 165, 0.349);
  height: 40px;
  width: 300px;
  font-weight: bold;
}
.search-bar input:hover {
  border-color: rgba(0, 180, 165, 0.349);
}
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* // */ /* // */ /* // */ /* // */ /* // */ /* // */ /* // */
/* Loader */
.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader img {
  width: 100px;
  opacity: 0.6;
  transform-origin: bottom-center;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  75% {
    opacity: 0.7;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader.hidden {
  animation: fadeOut 3s;
  animation-fill-mode: forwards;
}
